{% extends 'base.html' %}
{% load static %}


{% block content %}

        <h1 class="form-title">Edit Your Profile</h1>
        <br>
        <form method="post" enctype="multipart/form-data" role="form" action="">
            {% csrf_token %}

            <div class="inputBox">
                <label for="picture">PROFILE PICTURE</label> <br>
                {{ form.picture }}
              </div>
              <br>

            <div class="inputBox">
                <label for="first_name">FIRST NAME</label> <br>
                {{ form.first_name }} 
            </div>
            <br>

            <div class="inputBox">
                <label for="last_name">LAST NAME</label> <br>
                {{ form.last_name }}    
            </div>
            <br>

            <div class="inputBox">
                <label for="location">LOCATION</label><br>
                {{ form.location }}
            </div>
            <br>

            <div class="inputBox">
                <label for="url">URL</label><br>
                {{ form.url }}
            </div>
            <br>

            <div class="inputBox">
                <label for="profile_info">ABOUT</label><br>
                {{ form.profile_info }}
            </div>
            <br>

            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}

            <div class="hover">
            <button type="submit" class="btn  btn-lg" name="action">UPDATE PROFILE</button>
            </div>
        </form>

{% endblock %}