{% extends 'base.html' %}
{% load static %}


{% block banner %}
  <!-- GENRE TITLE -->
  <div class="container-fluid" id="genre-title">
    <div class="container">
      <div class="row">
        <h2 style="text-align: center;
        padding-bottom: 20px;
        font-size: 2.5rem;
      ">#{{ genre }}</h2>


      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
  <!-- MOVIE POSTERS SECTION -->
  <div class="row" id="fix-order">
    {% for movie in movie_data %}
    <div class="hstack gap-5" style="margin:20px;">
      <div class="bg-light border">
  
  
        <div class="card" style="width: 18rem; height:570px;">
          <a href="{% url 'movie-details' movie.imdbID %}"><img src="{{ movie.Poster.url }}" class="card-img-top"
              alt="Poster of the movie"></a>
          <div class="card-body" style="font-family: 'Inter', sans-serif;">
            <h5 class="card-title">{{ movie.Title }}</h5>
            <p class="card-text">{{ movie.Year }}</p>
            <p class="card-text"><b style="text-transform: uppercase;">{{ movie.Type }}</b></p>
  
          </div>
        </div>
  
  
      </div>
  
    </div>
    {% endfor %}
  </div>
  
  <div class="row">
  {% if movie_data.has_previous %}
    <button onclick="location.href='?page={{ movie_data.previous_page_number }}'" class="btn btn-lg" id="load">BACK</button>
  </div>
  {% endif %}

  {% if movie_data.has_next %}
    <button onclick="location.href='?page={{ movie_data.next_page_number }}'" class="btn btn-lg" id="load">LOAD MORE</button>
  </div>
  {% endif %}

{% endblock %}
