{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div>
  <form class="col s12 cover">
    <h1 id="title">Find your new favourite movie.</h1>
    <textarea type="submit" name="q" value="{{ request.GET.q }}" id="bar" placeholder="Start browsing movies." class="materialize-textarea white-text"></textarea>
    <button type="submit" name="action" class="submit btn btn-lg">SEARCH</button>
  </form>
</div>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col">
    <span class="material-symbols-outlined large-icon" id="one">movie_filter</span>
    <h2>Track films you've watched.</h2>
    <p>Flick through and browse various collections of movies from various genres, and find your new favorite movie
    </p>
  </div>

  <div class="col">
    <span class="material-symbols-outlined large-icon" id="two">add_to_queue</span>
    <h2>Save those you want to see.</h2>
    <p>Discover new movies and create new watchlists & more to share with friends</p>
  </div>

  <div class="col">
    <span class="material-symbols-outlined large-icon" id="three">rate_review</span>
    <h2>Tell your friends what's good.</h2>
    <p>Track films you've watched. Review and rate your favourite movies
      Share your opinions and love of film.
      Show some love for your faourite films, and reviews with a like.
    </p>
  </div>
</div>
{% endblock %}

{% block content-images %}
<div class="row">
  <div class="col">
    <img src="{% static 'images/blur_edges.png' %}" alt="The nightmare before christmas" height="300px" width="auto">
  </div>

  <div class="col">
    <img src="{% static 'images/blur_edges_2.png' %}" alt="The Avengers" height="300px" width="auto">
  </div>

  <div class="col"> 
    <img src="{% static 'images/tommorowland.png' %}" alt="Tommorowland" height="300px" width="auto">
  </div>




</div>
{% endblock %}



</body>

</html>