{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="row g-0">
  
  <div class="col-sm-6 col-md-4">
    {% if our_db is True %}
    <img src="{{ movie_data.Poster.url }}" class="card-img-top" height="600px" width="auto" alt="...">
    {% else %}
    <img src="{{ movie_data.Poster }}" class="card-img-top" height="600px" width="auto" alt="...">
    {% endif %}
  </div>

  <div class="col-6 col-md-8">
    <h1>{{ movie_data.Title }}</h1>
    <h5>Type: {{ movie_data.Type }}</h5>
    <p class="plot">
      {{ movie_data.Plot }}
    </p>
    <div class="details">
      <div class="divider"></div>
      <p>
        <span>Year: <b>{{ movie_data.Year }}</b></span>
        <span class="float-end">Rated: <b>{{ movie_data.Rated }}</b></span>
      </p>
      <p>Released: <b>{{ movie_data.Released }}</b></p>
      <p>Runtime: <b>{{ movie_data.Runtime }}</b></p>
      
      {% if our_db is True %}
        <p>Genre: {% for genre in movie_data.Genre.all %}<b><a href="{{ genre.get_absolute_url }}">{{ genre }}</a>,</b>{% endfor %}</p>
      {% else %}
        <p>Genre: <b>{{ movie_data.Genre }}</b></p>
      {% endif %}
    

      <p>Director: <b>{{ movie_data.Director }}</b></p>
      <p>Writer: <b>{{ movie_data.Writer }}</b></p>

      {% if our_db is True %}
      <p>Actors: {% for actor in movie_data.Actors.all %}<b><a href="{{ actor.get_absolute_url }}">{{ actor }}</a>,</b>{% endfor %}</p>
      {% else %}
      <p>Actors: <b>{{ movie_data.Actors }}</b></p>
      {% endif %}

      <p>Language: <b>{{ movie_data.Language }}</b></p>
      <p>Country: <b>{{ movie_data.Country }}</b></p>
      <p>Awards: <b>{{ movie_data.Awards }}</b></p>
    </div>
    <div class="divider"></div>

    <ul class="collection">

          <li class="collection-item avatar">
            <span class="title">Rated</span>
            <p><b>8/10 Very Good</b> by <b>100</b> People</p>
          </li>

      {% if our_db is True %}

      {% for movie in movie_data.Ratings.all %}

         {% if movie.source == 'Internet Movie Database' %}  
          <li class="collection-item avatar">
            <img src="{% static 'images/icons/imdb_icon.png' %}" alt="" class="circle">
            <span class="title">{{ movie.source }}</span>
            <p><b>{{ movie.rating }}</b></p>
          </li>

         {% elif movie.source == 'Rotten Tomatoes' %} 
          <li class="collection-item avatar">
            <img src="{% static 'images/icons/rt_icon.png' %}" alt="" class="circle" id="rt">
            <span class="title">Rotten Tomatoes</span>
            <p><b>{{ movie.rating }}</b></p>
          </li>
         {% else %}
          <li class="collection-item avatar">
            <img src="{% static 'images/icons/meta_icon.png' %}" alt="" class="circle">
            <span class="title">Metacritic</span>
            <p><b>{{ movie.rating }}</b></p>
          </li>
         {% endif %}

      {% endfor %}

      {% else %}
        <li class="collection-item avatar">
          <img src="{% static 'images/icons/imdb_icon.png' %}" alt="" class="circle">
          <span class="title">Internet Movie Database</span>
          <p><b>{{ movie_data.Ratings.0.Value }}</b></p>
        </li>

        <li class="collection-item avatar">
          <img src="{% static 'images/icons/rt_icon.png' %}" alt="" class="circle" id="rt">
          <span class="title">Rotten Tomatoes</span>
          <p><b>{{ movie_data.Ratings.0.Value }}</b></p>
        </li>

        <li class="collection-item avatar">
          <img src="{% static 'images/icons/meta_icon.png' %}" alt="" class="circle">
          <span class="title">Metacritic</span>
          <p><b>{{ movie_data.Ratings.0.Value }}</b></p>
        </li>
      {% endif %}

    </ul>

    <div class="divider"></div>
    <div class="details">
      <p>Box Office: <b>{{ movie_data.BoxOffice }}</b></p>
      <p>IMDB Votes: <b>{{ movie_data.imdbVotes }}</b></p>
      <p>Production: <b>{{ movie_data.Production }}</b></p>
    </div>

    <div class="buttons">
      <button type="button" class="btn btn-lg"><span class="material-symbols-outlined" id="icon1">star</span>
        RATE</button>
      <button type="button" class="btn btn-lg"><span class="material-symbols-outlined" id="icon2">playlist_add</span>
        WATCHLIST</button>
      <button type="button" class="btn btn-lg"><span class="material-symbols-outlined"
          id="icon3">playlist_add_check</span> WATCHED</button>
    </div>

  </div>

</div>

<br></br>
<!----REVIEWS SECTION-->
<h2>Reviews</h2>
<div class="card review-card" id="review">
  <div class="card-body review-card-body">

    <ul class="collection">
      <hr class="line">
      <li class="collection-item avatar">
        <img src="{% static 'images/no_avatar.jpg' %}" alt="" class="circle">
        <span class="title">Zainab Meerza <a href="#"><i class="material-symbols-outlined">STAR</i>10/10 amazing
            movie</a></span>
        <p><b>@zmeerza</b></p>
        <p>13/06/2022</p>
      </li>

      <hr class="line">
      <li class="collection-item avatar">
        <img src="{% static 'images/no_avatar.jpg' %}" alt="" class="circle">
        <span class="title">Zainab Meerza 2<a href="#"><i class="material-symbols-outlined">STAR</i>4/10 okayish
            movie</a></span>
        <p><b>@zmeerza2</b></p>
        <p>13/06/2022</p>
      </li>

      <hr class="line">
      <li class="collection-item avatar">
        <img src="{% static 'images/no_avatar.jpg' %}" alt="" class="circle">
        <span class="title">Zainab Meerza 3 <a href="#"><i class="material-symbols-outlined">STAR</i>1/10 boring
            movie</a></span>
        <p><b>@zmeerza3</b></p>
        <p>13/06/2022</p>
      </li>
    </ul>

  </div>
</div>


{% endblock %}