{% extends 'base.html' %}
{% load static %}

{% block banner %}
  <!-- ICONS SECTION -->
  <div class="container-fluid">
    <div class="container">


      <div class="row g-0">
        <div class="col-sm-6 col-md-4">
          <img src="{{ movie.Poster.url }}" class="card-img-top"  width="auto" alt="movie poster">
        </div>
        <div class="col-6 col-md-8">
          <h1>{{ movie.Title }}</h1>
          <h5>Type: {{ movie.Type }}</h5>
          <p class="plot">
            {{ movie.Plot }}
          </p>

          <div class="container rate-box rounded">
            <div class="row rounded">

              <div class="col-4">

                {% if review.user.profile.picture %} 
                  <img src="{{ review.user.profile.picture.url }}" alt="user profile picture" height=130px width=130px class="circle img-responsive">
                {% else %}
                  <img src="{% static 'images/no_avatar.jpg' %}" alt="no profile picture" height=130px width=130px class="circle img-responsive">
                {% endif %}

                <span class="user">
                  <p><b>{{ review.user.first_name }} {{ review.user.last_name }}</b></p>
                  <p>@{{ review.user.username }}</p>
                </span>
              </div>
              <div class="col-6 longer"> <span class="rated-text">
                  <br></br>
                  <br>
                  <h3>Rated this movie:</h3>
                  <h3>{{ review.rate }} / 10</h3>
                </span></div>


            </div>
          </div>




        </div>
      </div>

      <br></br>
      <!----REVIEWS SECTION-->
      <h2>Review</h2>
      <div class="card review-card" id="review">
        <div class="card-body review-card-body">

          <ul class="collection username">
            <hr class="line">
            <li class="collection-item avatar">
              <h5><b>{{ review.user.first_name }} {{ review.user.last_name }}</b> <a href="#">Review <i class="material-symbols-outlined"
                    id="rate_icon">rate_review</i></a></h5>
              <p>@{{ review.user.username }}</p>
              <p><b>{{ review.date }}</b></p>
              <br>
              <p class="plot">
                {{ review.text }}
              </p>
              <div class="card thumbs">
                <div class="card-body">
                  <a href="#" class="card-link"><i class="material-symbols-outlined" id="rate_icon">thumb_up</i> 100</a>
                  <a href="#" class="card-link"><i class="material-symbols-outlined" id="rate_icon">thumb_down</i>
                    20</a>
                </div>
              </div>
              <hr class="line">
            </li>


          </ul>

        </div>
      </div>

      <!----COMMENTS SECTION -->
      <h2>Comments</h2>
      <div class="card review-card" id="review">
        <div class="card-body review-card-body">

          <ul class="collection">
            <hr class="line">
            <li class="collection-item avatar">
              <img src="static/images/no_avatar.jpg" alt="" class="circle">
              <span class="title">Zainab Meerza <a href="#"><i
                    class="material-symbols-outlined trash">delete</i></a></span>
              <p><b>@zmeerza</b></p>
              <p>13 June 2022</p>
              <br>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
            </li>

            <hr class="line">
            <li class="collection-item avatar">
              <img src="static/images/no_avatar.jpg" alt="" class="circle">
              <span class="title">Zainab Meerza 2<a href="#"><i
                    class="material-symbols-outlined trash">delete</i></a></span>
              <p><b>@zmeerza2</b></p>
              <p>13 June 2022</p>
              <br>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
            </li>

            <hr class="line">
            <li class="collection-item avatar">
              <img src="static/images/no_avatar.jpg" alt="" class="circle">
              <span class="title">Zainab Meerza 3 <a href="#"><i
                    class="material-symbols-outlined trash">delete</i></a></span>
              <p><b>@zmeerza3</b></p>
              <p>13 June 2022</p>
              <br>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
            </li>

            <br></br>
            <div>
              <form class="col s12 comment-box">
                <textarea placeholder="Leave a comment." class="materialize-textarea white-text"></textarea>

                <button type="submit" name="action" class="submit btn btn-lg">POST</button>

                <hr class="line">
              </form>
            </div>
          </ul>


        </div>
      </div>


    </div>
  </div>


  {% endblock %}