{% extends 'base.html' %}
{% load static %}


{% block banner %}
  <!-- ICONS SECTION -->
  <div class="container-fluid">
    <div class="container">


      <div class="row g-0">
        <div class="col-sm-6 col-md-4">
          <img src="{{ movie.Poster.url }}" class="card-img-top"  width="auto" alt="movie poster">
        </div>
        <div class="col-6 col-md-8">
          <h1>{{ movie.Title }}</h1>
          <h5>{{ movie.Type }}</h5>
          <p class="plot">
            {{ movie.Plot }}
          </p>
       

          <h4 id="rate-title">RATE THIS MOVIE</h4>
        <form method="post" action="" role="form">
          {% csrf_token %}
          <div id="rate-form">
            {{ form.rate }}
         
          <br></br>
          
            <!--<form class="col s12 comment-box-2">-->
              <label style="font-size: 22px; font-weight: lighter; font-family: 'Inter', sans-serif;;" for="textarea1">LEAVE A COMMENT</label><br>
             {{ form.text }}
             
             <br>
              <button type="submit" name="action" class="submit btn btn-lg" id="post-button">SUBMIT REVIEW</button>
              <hr class="line">
          </div>
        </form>

        </div>
      </div>

      <br></br>



    </div>
  </div>

{% endblock %}