/*
font-family: 'Inter', sans-serif;
font-family: 'Shrikhand', cursive;
*/
*{
  background-color: black;
  color: whitesmoke;
  margin: 0px;
}

.container {
  width: 100%;
}
.container-fluid{
  background-color: black;
}

footer li{
  list-style: none;
}

/*-----------------------------------------NAVIGATION BAR/HEADER*/
nav img{
  height: 200px;
  padding-left: 20px;
}

nav img:hover{
 filter: brightness(90%);

}

nav button{
  float: right;
  margin-top: 40px ;
  margin-right: 30px;
}

nav .btn{
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  
}

/*-----------------------------------------COVER IMAGE*/
form .submit{
  background-color: white;
  color: black;
  font-family: 'Inter', sans-serif;
  border-radius: 0%;
  margin-left: -4px;
  height: 40px;
  margin-bottom: 33px;
  padding-bottom: 35px;
}

form .submit:hover{
  background-color: black;
  color: white;
}

.cover{
  height: 900px;
  background-image: url("../images/gravity_blur_edges.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#bar{
  margin-left: 60%;
}

#title{
  font-family: 'Shrikhand', cursive;
  margin-left: 50%;
  background-color: transparent;
  text-align: center;
  padding-top: 200px;
}

textarea{
  width: 20%;
  height: 43px;
  font-size: 100px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5) ;
}

/*----------------------------------------- ROW OF IMAGES*/
.cover-2{
  height: 500px;
  background-image: url("../images/blur_edges.png");
  background-repeat: no-repeat;
  background-size: contain;
  
}

/*-----------------------------------------ABOUT SECTION*/
.about{
  padding: 50px;
  text-align: center;
}

.about p{
  font-family: 'Inter', sans-serif;
  text-align: center;

}
h2{
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
}

.large-icon{
  padding: 20px;
  color: black;
  background-color: white;
  border-radius:100%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

#one, #two, #three {
  font-size: 110px;
  padding: 20px;
}

/*------------------------FOOTER*/
footer img{
  height: 220px;

}
.site-footer
{
  padding:45px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

footer p{
  font-family: 'Inter', sans-serif;
  width: 80%;
}

footer a{
  font-family: 'Inter', sans-serif;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#737373;
  text-decoration: none;
}

.site-footer a:hover
{
  color:white;
 
}


.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
  text-decoration:none;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
  
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
 /* background-color:#eceeef;*/
  color:#818a91;
  font-size:20px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6;
}
.social-icons a.github:hover
{
  background-color:white;
  color: black;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


.fa.fa-facebook, .fa.fa-twitter, .fa.fa-github, .fa.fa-linkedin{
  background-color: transparent;
}


.fa.fa-facebook:hover{
  background-color: #3b5998;
}

.fa.fa-twitter:hover{
  background-color: #00aced;
}

.fa.fa-github:hover{
  color: black;

}

.fa.fa.fa-linkedin:hover{
  background-color: #007bb6;
}

h3{
  font-family: 'Shrikhand', cursive;

}

/*---------------------------SEARCH RESULTS*/

#load{
  background-color: black;
  color: white;
  border-color: #fff;
  font-family: 'Inter', sans-serif;
  border-radius: 0%;
  height: 40px;
  margin-top: 33px;
  margin-bottom: 33px;
  padding-bottom: 42px;
  width: 20%;
  align-items: center;
}

#load:hover{
  background-color: white;
  color: black;
}

.row{
  justify-content: center;
}

#movie-search{
  font-family: 'Inter', sans-serif;
  padding-bottom: 20px;
}

/*---------------------------SEARCH RESULTS*/
.row .card{
  --bs-card-bg: black;
  color: #fff;
}

.movie-row{
  justify-content: left;
  background-color: white;
  border-radius: 1%;
}

.row .card img{
 height: auto;
 width:auto;
} 

.no-gutters{
  width: fit-content;
}

.container .col-md-4{
  
  width: fit-content;
  padding: 0px;
}

.g-0 .col-6 {
  padding-left: 20px;
}


.collection .collection-item.avatar {
  min-height: 84px;
  padding-left: 40px;
  position: relative;
}

.collection {
  margin: 0.5rem 0 1rem 0;
 
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding-left: 0;
    list-style-type: none;
}

.circle {
    border-radius: 50%;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collection p, .collection span{
  margin-left: 50px;
}

#rt{
  width: 65px;
  height: 50px;
  margin-left: -6px;
}
.details{
  line-height: 7px;
}
.collection{
  padding-top: 14px;
}


#icon1, #icon2, #icon3{
  background-color: transparent;
}

#icon1:hover, #icon2:hover, #icon3:hover{
  color: black;
}

.buttons button{
  font-family: 'Inter', sans-serif;
  border-radius: 0%;
  color: white;
  border-color: white;
  margin-right: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.buttons button:hover{
  color: black;
  background-color: white;
}

/*---------------------REVIEW*/
.review-card, .review-card-body{
  font-family: 'Inter', sans-serif;
  width: 100%;
}
.review-card-body a{
  float: right;
  text-decoration: none;
  color: white;
}

i .material-symbols-outlined{
  color:red;
}

.review-card-body{
  padding: 0px 20px 0px 20px;
}

#review{
  border-color: black;
  margin-top: -15px;
}

.line{
  border-top-color: #bbb;
  border-width: 2px;
}