{% extends 'base.html' %}
{% load static %}

{% block content %}

        <h1 class="form-title">Change Account Password</h1>
          <br>
        <form method="post" role="form" action="">
            {% csrf_token %}
            {{ form.id }}
            <div class="inputBox">
                <label for="old_password">OLD PASSWORD</label><br>
                {{ form.old_password }}
            </div>
            <br>

            <div class="inputBox">
                <label for="new_password">NEW PASSWORD</label><br>
                {{ form.new_password }}
            </div>
            <br>

            <div class="inputBox">
                <label for="confirm_password">RE-ENTER PASSWORD</label><br>
                {{ form.confirm_password }}
            </div>
            <br>

            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}
            
            <div class="hover">
            <button type="submit" class="btn  btn-lg" name="action">CHANGE PASSWORD</button>
             </div>
        </form>
        

{% endblock %}