{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
    <div class="box">

        <h1>Change Account Password</h1>

        <form method="post" role="form" action="">
            {% csrf_token %}
            {{ form.id }}
            <div class="inputBox">
                {{ form.old_password }}
                <label for="old_password">OLD PASSWORD</label>
            </div>
            
            <div class="inputBox">
                {{ form.new_password }}
                <label for="new_password">NEW PASSWORD</label>
            </div>

            <div class="inputBox">
                {{ form.confirm_password }}
                <label for="confirm_password">RE-ENTER PASSWORD</label>
            </div>
            <br>

            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}
            
            <button type="submit" name="action" id="submit">Change Password</button>
        </form>
        
    </div>
</div>
    

{% endblock %}