{% extends 'base.html' %}
{% load static %}

{% block content %}


        <h1 class="form-title">Sign in to MoveieFlick</h1>
        <br></br>
        <form method="post" role="form" action="">
            {% csrf_token %}

            <div class="inputBox">
                <label for="username">USERNAME</label>
                {{ form.username }}
            </div>
            <br></br>
            <div class="inputBox">
                <label for="password">PASSWORD</label>
                {{ form.password }}
            </div>
            <br>

            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }} Your Username or Password did not match.</span>
            </div>
            {% endif %}
            
            <div class="hover">
            <button  type="submit" class="btn  btn-lg" name="action">LOGIN</button> </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <br></br>
        <p style="text-align:center">New to MovieFlick? <a href="{% url 'signup' %}"> Create an account.</a></p>
        

{% endblock %}