{% extends 'base.html' %}
{% load static %}


{% block content %}

        <h1 class="form-title">Set a New Password</h1>

        <form method="post" role="form" action="">
            {% csrf_token %}
            {{ form.id }}
            
            {% if validlink %}
            <div class="inputBox">
                <label for="new_password1">NEW PASSWORD</label><br>
                {{ form.new_password1 }}
            </div>
            <br>

            <div class="inputBox">
                <label for="new_password2">RE-ENTER PASSWORD</label><br>
                {{ form.new_password2 }}
            </div>
            <br>

            {% else %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">The password rest link was invalid, it has already been used or is expired. Please request a new one.</span>
            </div>
            {% endif %}
            
            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}
            
            <div class="hover">
            <button type="submit" class="btn  btn-lg" name="action" >CHANGE PASSWORD</button>
            </div>
        </form>
        


{% endblock %}