{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="wrapper">
    <div class="box">

        <h1>Set a New Password</h1>

        <form method="post" role="form" action="">
            {% csrf_token %}
            {{ form.id }}
            
            {% if validlink %}
            <div class="inputBox">
                {{ form.new_password1 }}
                <label for="new_password1">NEW PASSWORD</label>
            </div>

            <div class="inputBox">
                {{ form.new_password2 }}
                <label for="new_password2">RE-ENTER PASSWORD</label>
            </div>
            <br>

            {% else %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">The password rest link was invalid, it has already been used or is expired. Please request a new one.</span>
            </div>
            {% endif %}
            
            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}
            
            <button type="submit" name="action" id="submit">Change Password</button>
        </form>
        
    </div>
</div>
    

{% endblock %}