{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row">

	<div class="col s12">
        <span class="material-symbols-outlined">check_circle</span>
	</div>
	<div class="col s12">
		<h4>We have emailed you instructions to reset your password</h4>
		<p>If an account exists with the email you entered. You will receive the token.</p>
		<p>If you don't receive an email. Check your spam folder or make sure you entered the correct email.</p>		
	</div>


</div>

{% endblock %}