{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
    <div class="box">

        <h1>Forgot Password</h1>

        <form method="post" role="form" action="">
            {% csrf_token %}
            {{ form.id }}
            <div class="inputBox">
                {{ form.email }}
                <label for="email">EMAIL</label>
            </div>
            <br>

            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}
            
            <button type="submit" name="action" id="submit">Request Code</button>
        </form>
        
    </div>
</div>
    

{% endblock %}