{% extends 'base.html' %}
{% load static %}

{% block content %}


        <h1 style="text-align: center;
        padding-bottom: 20px;
        font-size: 2.5rem;">Register with MovieFlick</h1>
        <br>
        <form method="post" role="form" action="">
            {% csrf_token %}

            <div class="inputBox">
                <label for="first_name">FIRST NAME </label>
                {{ form.first_name }}
                <label for="last_name">LAST NAME </label>
                {{ form.last_name }}
            </div>
            <br>

            <div class="inputBox">
                <label for="username">USERNAME </label>
                {{ form.username }}
            </div>
            <br>
            
            <div class="inputBox">
                <label for="email">EMAIL </label>
                {{ form.email }}
            </div>
            <br>

            <div class="inputBox">
                <label for="password">PASSWORD </label>
                {{ form.password }}
                <label for="confirm_password">RE-ENTER PASSWORD </label>
                {{ form.confirm_password }}
            </div>
            <br>

            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}
            
            <button style="color: white;
            font-family: 'Inter', sans-serif;
            border: solid 1px;" type="submit" class="btn  btn-lg" name="action" id="submit">REGISTER ACCOUNT</button>
        </form>
        <br>
        <p>Already have a MovieFlick account? <a href="{% url 'login' %}"> Login.</a></p>
        


{% endblock %}