{% extends 'base.html' %}
{% load static %}

{% block content %}


        <h1 class="form-title">Register with MovieFlick</h1>
        <br>
        <form method="post" role="form" action="">
            {% csrf_token %}

            <div class="inputBox">
                <label for="first_name">FIRST NAME </label> <br>
                {{ form.first_name }}
            </div>
            <br>

            <div class="inputBox">
                <label for="last_name">LAST NAME </label> <br>
                {{ form.last_name }}
            </div>
            <br>

            <div class="inputBox">
                <label for="username">USERNAME </label> <br>
                {{ form.username }}
            </div>
            <br>
            
            <div class="inputBox">
                <label for="email">EMAIL </label> <br>
                {{ form.email }}
            </div>
            <br>

            <div class="inputBox">
                <label for="password">PASSWORD </label> <br>
                {{ form.password }}
            </div>
            <br>

            <div class="inputBox">
                <label for="confirm_password">RE-ENTER PASSWORD </label> <br>
                {{ form.confirm_password }}
            </div>
            <br>

            {% if form.errors %}
            <div class="inputBox">
                <span style="color:red; font-weight:bold;">{{ form.errors }}</span>
            </div>
            {% endif %}
            <div class="hover">
            <button type="submit" class="btn  btn-lg" name="action">REGISTER ACCOUNT</button>
            </div>
             <br></br>
             <p style="text-align:center">Already have a MovieFlick account? <a href="{% url 'login' %}"> Login.</a></p>
        </form>
       
        


{% endblock %}